
<form role="form" name="PremiumRequestForm">
      

<!-- Client Type -->
<div class="form-group row">
  <label class= "col-sm-2" for="clientTypeSelect">Client Type</label>
  <div class="col-sm-10">
		<select  chosen class="select_box" id ="client_type_select_box" name ="clientTypeSelect"  
		ng-model="selectedClientType">
		<!--   ng-options="type.name for type in clientsType" -->  

    	
	<option ng-repeat="type in clientsType" value="{{type.name}}">{{type.name}}</option>
		
     </select>
   </div>  
</div>     

    
  
  
<!-- Client Group -->
<div class="form-group row">
  <label class= "col-sm-2" for="clientGroupSelect">Client Group</label>
  <div class="col-sm-10">
		<select  chose class="select_box" name ="clientGroupSelect" ng-model="selectedClientGroup"
		   ng-options="group.name for group in clientGroup">
		   <option value=""> -Select one option- </option>
         
     </select>  
      </div>
</div>    


   
   
 <!-- Payment Agent -->
    <div class="form-group row">
  <label class= "col-sm-2" for="paymentAgentSelect">Payment Agent</label>
  <div class="col-sm-10">
		<select chosen class="select_box" name ="paymentAgentSelect" ng-model="selectedPaymentAgent"
		ng-options="agent.name for agent in paymentAgents">
		<option value=""> -Select one option- </option>
         
     </select>  
  
   </div>
 </div>      


  

    <!-- from date -->
    <label for="premiumRequestPaymentDate">From</label>
  <p class="input-group">  
  <input type="text"
       cam-variable-name="premiumRequestPaymentDate"
       cam-variable-type="Date"
       class="form-control"
       datepicker-popup="MM/dd/yyyy"
       placeholder="mm/dd/yyyy"
       is-open="fromdateFieldOpened" />

  <span class="input-group-btn">
    <button type="button"
            class="btn btn-default"	
            ng-click="from_open($event)">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
  
</p>

    <!-- to date -->
    <label for="premiumRequestToDate">To</label>
  <p class="input-group">
  
  
  <input type="text"
       cam-variable-name="premiumRequestToDate"
       cam-variable-type="Date"
       class="form-control"
       datepicker-popup="MM/dd/yyyy"
       placeholder="mm/dd/yyyy"
       is-open="todateFieldOpened" />

  <span class="input-group-btn">
    <button type="button"
            class="btn btn-default"
            ng-click="to_open($event)">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
  
</p>

  
       <!-- Batch Process -->
    <div class="form-group">
  <label for="batchProcessSelect">Batch Process</label>
		<select  name ="batchProcessSelect" ng-model="selectedBatchProcess">
         <option ng-repeat="process in batchProcess" value="{{process.name}}">{{process.name}}</option>
         <option value=""> -Select one option- </option>
     </select>  
  
   </div> 
  
  <!-- Separated Groups -->
  <div class="form-group">
  <label for="separateGroupSelect">Separate Group</label>
		<select  name ="separateGroupSelect" ng-model="selectedSeparateGroup"
		ng-options="group.name for group in separateGroups">
		<option value=""> -Select one option- </option>
         <!--  <option ng-repeat="group in separateGroups" value="{{group.name}}">{{group.name}}</option>-->
     </select>  
  
   </div> 

<!-- Payment Date -->
  
<label for="premiumRequestAnticipatedPayDate">Payment Date</label>  
 <p class="input-group">
  	<input type="text"
       cam-variable-name="premiumRequestAnticipatedPayDate"
       cam-variable-type="Date"
       class="form-control"
       datepicker-popup="MM/dd/yyyy"
       placeholder="mm/dd/yyyy"
       is-open="paymentdateFieldOpened" />

  	<span class="input-group-btn">
    	<button type="button"
            class="btn btn-default"
            ng-click="payment_open($event)">
      	<i class="glyphicon glyphicon-calendar"></i>
    	</button>
  	</span>
</p>


  <div class="form-group">
    <label for="check_as_pdf">Present Checks As PDFs</label>
	<input type="checkbox"
       cam-variable-name="check_as_pdf"
       cam-variable-type="Boolean" />

 </div>

    <!-- The following code demonstrates use of custom scripting.

          The 'cam-script' directive makes sure the the script is loaded and can bind to the angular $scope for the form.

          Access to form fields is provided through $scope.variablesForm.
       -->
    <script cam-script type="text/form-script">

	//Jquery Chosen Plugin
		$(".select_box").chosen({ width: "50%",
    		disable_search_threshold: 2,
    		no_results_text: "Oops, nothing found!",
		});
	


//Angular Datepicker
 $scope.from_open = function($event) {
    $event.preventDefault();
    $event.stopPropagation();
	if (!$scope.activeDatePicker) { 
    	$scope.fromdateFieldOpened = true;
		$scope.activeDatePicker=true
	}
  };
 $scope.to_open = function($event) {
    $event.preventDefault();
    $event.stopPropagation();	
    $scope.todateFieldOpened = true;
  };
 $scope.payment_open = function($event) {
    $event.preventDefault();
    $event.stopPropagation();
    $scope.paymentdateFieldOpened = true;
  };

//Datos que deberian venir desde la APi
	
 	
	$scope.clientGroup=[{"name":"foo"},{"name":"bar"},{"name":"extra"}];
	$scope.batchProcess=[{"name":"Fortres"},{"name":"Centurion"},{"name":"etc"}];
	$scope.paymentAgents=[{"name":"NorthStar"},{"name":"Wells Fargo"},{"name":"Us Bank"}];
	$scope.separateGroups=[{"name":"1 Payment File"},{"name":"4 Payment File"}];
	$scope.selectedSeparateGroup = $scope.separateGroups[0];


	$scope.clientsType =  [{"name":"3rd Party"},{"name":"NCB"},{"name":"Policies"}];	

	
	
// APIs Calls
 inject([ '$scope', '$http', function($scope, $http) {
      camForm.on('form-loaded', function() {
        // use injected $http service for making requests

		var url = "https://api-ak.wunderground.com/api/606f3f6977348613/history_2016012320160131/units:metric/v:2.0/q/pws:KNYNEWYO395.json?format=jsonp&callback=JSON_CALLBACK" ;
   
		//API Call
  		$scope.getClientsType = function() {		
	   		$http.jsonp(url)
    			.success(function (data ,status , header , conf) {
					console.log(data);
					$scope.clientsType =  data.response;
					
					//Jquery Update chosen select
					console.log($scope.clientsType);
					for (x in $scope.clientsType){
        			   $("#client_type_select_box").prepend("<option>"+x.name+"</option>");
				}
				
				
					$(".select_box").trigger("chosen:updated");
	    	});
		}	
		$scope.getClientsType();


      });
    }]);



    </script>











</form>

